#s-7ca85c79-660d-4624-a573-0ea8e8387c1f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_1 {
  position: absolute;
  top: 523px;
  left: 0px;
  width: 316px;
  height: 41px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_30 > svg {
  width: 32px;
  height: 23px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_30 {
  position: absolute;
  top: 534px;
  left: 16px;
  width: 32px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_31 > svg {
  width: 32px;
  height: 23px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_31 {
  position: absolute;
  top: 534px;
  left: 270px;
  width: 32px;
  height: 23px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_2 > svg {
  width: 33px;
  height: 28px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_2 {
  position: absolute;
  top: 534px;
  left: 77px;
  width: 33px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_4 {
  position: absolute;
  top: 534px;
  left: 145px;
  width: 33px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_5 > svg {
  width: 33px;
  height: 28px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_5 {
  position: absolute;
  top: 534px;
  left: 210px;
  width: 33px;
  height: 28px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 316px;
  height: 54px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Statusbar-black_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 315px;
  height: 20px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 315px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Label_101 {
  position: absolute;
  top: 0px;
  left: 119px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Label_101 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Label_101 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Label_101 span#rtr-s-Label_101_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Group_26 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_43 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_43 .content {
  width: 6px;
  height: 6px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_43 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_43 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_43 span#rtr-s-Ellipse_43_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_44 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_44 .content {
  width: 6px;
  height: 6px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_44 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_44 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_44 span#rtr-s-Ellipse_44_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_45 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_45 .content {
  width: 6px;
  height: 6px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_45 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_45 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_45 span#rtr-s-Ellipse_45_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_46 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_46 .content {
  width: 6px;
  height: 6px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_46 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_46 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_46 span#rtr-s-Ellipse_46_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_47 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_47 .content {
  width: 6px;
  height: 6px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Ellipse_47 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_47 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-Ellipse_47 span#rtr-s-Ellipse_47_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Label_108 {
  position: absolute;
  top: 1px;
  left: 246px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Label_108 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Label_108 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Label_108 span#rtr-s-Label_108_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_10 {
  position: absolute;
  top: 5px;
  left: 283px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_32 > svg {
  width: 17px;
  height: 17px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_32 {
  position: absolute;
  top: 1px;
  left: 41px;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Group_1 {
  position: absolute;
  top: 84px;
  left: 77px;
  width: 144px;
  height: 72px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_3 > svg {
  width: 56px;
  height: 51px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Image_3 {
  position: absolute;
  top: 11px;
  left: 8px;
  width: 56px;
  height: 51px;
  -webkit-transform: rotate(332deg);
  -moz-transform: rotate(332deg);
  transform: rotate(332deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Text_2 {
  position: absolute;
  top: 25px;
  left: 80px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-email-detail-subject {
  position: absolute;
  top: 182px;
  left: 12px;
  width: 303px;
  height: 70px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_65 {
  position: absolute;
  top: 0px;
  left: 24px;
  padding-left: 15px;
  width: 262px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_65 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_65 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_65 span#rtr-s-Rich_text_65_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_65 span#rtr-s-Rich_text_65_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Line_48 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 303px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-email-detail-subject_1 {
  position: absolute;
  top: 251px;
  left: 0px;
  width: 315px;
  height: 70px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_66 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 300px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_66 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_66 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_66 span#rtr-s-Rich_text_66_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_66 span#rtr-s-Rich_text_66_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Line_49 {
  position: absolute;
  top: 69px;
  left: 12px;
  width: 303px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-dot-blue .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-dot-blue .content {
  width: 14px;
  height: 14px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-dot-blue {
  position: absolute;
  top: 210px;
  left: 16px;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-dot-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-dot-blue span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #shapewrapper-s-dot-blue span#rtr-s-dot-blue_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-email-detail-subject_2 {
  position: absolute;
  top: 326px;
  left: 0px;
  width: 320px;
  height: 70px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_67 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 305px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_67 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_67 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_67 span#rtr-s-Rich_text_67_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Rich_text_67 span#rtr-s-Rich_text_67_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f #s-Line_50 {
  position: absolute;
  top: 69px;
  left: 12px;
  width: 308px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7ca85c79-660d-4624-a573-0ea8e8387c1f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}