#m-b120c4bc-2097-4865-870e-3e4b17a7316c #m-b120c4bc-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-b120c4bc-2097-4865-870e-3e4b17a7316c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}