#m-b120c4bc-2097-4865-870e-3e4b17a7316c #m-b120c4bc-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-b120c4bc-2097-4865-870e-3e4b17a7316c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}