#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 113px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 14px 14px 14px 14px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 111px;
  height: 36px;
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Image_31 {
  -ms-transform: rotate(180.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0964d79e-a3e5-487f-ba24-e9fa84cbe145 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}