#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_31 {
  -ms-transform: rotate(180.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-dot-blue {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Label_77 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-dot-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Label_78 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-dot-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-87ee212f-3c69-42e3-8f3b-5580d32fbd4b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}