#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Line_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Line_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Image_33 {
  -ms-transform: rotate(180.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Button_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #6BCDFD;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #6BCDFD;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #6BCDFD;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #6BCDFD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 97px;
  height: 26px;
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ebec5a52-f43c-4289-a863-5a4502e4d4aa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}